.container {
  display: flex;
}
.left-container{
    flex-basis: 20%;
}
.feed{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 50%;
  margin-top: 7px;
  /* height: 100vh; */
  
}
app-post-view{
    width: 100%;
}
