* {
  font-size: var(--normal-font-size);
  font-family: var(--body-font);
}
nav {
  background: white;
  flex-direction: row;
  width: 100vw;
  display: flex;
  z-index: 100;
  position: fixed;
  top: 1px;
}
.reddit-icon {
  display: flex;
  flex-direction: row;
  flex: content;
  justify-content: flex-start;
}
.search-box {
  display: flex;
  align-items: center;
  flex: content;
  justify-content: flex-end;
  padding-left: 5px;
  padding-right: 5px;
}
.user-profile {
  display: flex;
  align-items: center;
  flex: content;
  flex-shrink: inherit;
  justify-content: flex-end;
}
.reddit-icon > a {
  display: flex;
  position: relative;
}

.name {
  height: 50px;
  width: 50px;
}
.icon {
  height: 50px;
  width: auto;
  margin: 1px;
  padding: 7px;
  position: relative;
  filter: drop-shadow(0 0 0.3em crimson);
}
/* search-box-css */
.search-input {
  padding: 9px;
  outline: none;
  border: 1px;
  transition: transform 0.2s;
  width: 100%;
  position: relative;
  border: 1px solid black;
  background: whitesmoke;
}
.search-input:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s;
}
.search-input::placeholder {
  transition: opacity 0.2s;
  margin-left: 1rem;
}
.search-input:focus {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
.search-input:focus::placeholder {
  opacity: 0;
}

.user-profile > img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid black;
}

.settings-menu {
  position: absolute;
  width: auto;
  min-width: 300px;
  height: auto;
  top: 50px;
  right: 0.75%;
  padding: 8px 10px;
  background: white;
  border: 1.5px solid black;
}
.settings-menu a {
  text-decoration: none;
  font-size: 12px;
  margin-left: 10px;
}
.settings-menu > .user-profile {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 15px 10px;
}
.settings-menu p {
  margin-left: 10px;
  line-height: 1;
  font-size: 15px;
}

.settings-menu,
ul li {
  list-style: none;
  margin: 10px 10px;
  font-size: 15px;
  font-weight: 100;
  cursor: pointer;
}

details > summary {
  margin-left: 3px;
  padding-left: 3px;
  cursor: pointer;
}

@media only screen and (max-width: 700px) {
  * {
    flex-direction: row;
  }
  .name {
    display: none;
  }
}
