<div id="signIn" class="auth-form form-SignIn">
  <form
    novalidate
    (ngSubmit)="doSignIn()"
    class="form-content form-SignIn"
    [formGroup]="signInForm"
  >
    <h2 class="underline">Welcome Redditor</h2>
    <!-- <span class="error">
      <span
        *ngIf="
          (signInForm.get('username')?.touched ||
            signInForm.get('username')?.dirty) &&
          !signInForm.get('username')?.valid
        "
      >
        Dude!! its required.
      </span>
      <span
        *ngIf="
          (signInForm.get('secret')?.touched ||
            signInForm.get('secret')?.dirty) &&
          !signInForm.get('secret')?.valid
        "
      >
        Dude!! its required.
      </span>
    </span> -->
    <div class="form-box">
      <input
        id="signIn-username"
        type="text"
        class="form-input"
        placeholder="User ID"
        autocomplete="off"
        formControlName="username"
        [ngClass]="{
          'is-invalid':
            (signInForm.get('username')?.touched ||
              signInForm.get('username')?.dirty) &&
            !signInForm.get('username')?.valid
        }"
      />
      <label for="" class="form-label">User ID</label>
      <div class="form-shadow"></div>
    </div>
    <div class="form-box">
      <input
        id="signIn-password"
        type="password"
        class="form-input"
        placeholder="Secret"
        autocomplete="off"
        formControlName="secret"
        [ngClass]="{
          'is-invalid':
            (signInForm.get('secret')?.touched ||
              signInForm.get('secret')?.dirty) &&
            !signInForm.get('secret')?.valid
        }"
      />

      <label for="" class="form-label">Secret</label>
      <div class="form-shadow"></div>
    </div>
    <div class="link">
      <a (click)="areYouOneOfUs($event)">Are You One Of Us?</a>
    </div>
    <div class="form-button">
      <input
        type="Submit"
        class="form-submit"
        value="Sign In"
        [ngClass]="{ 'is-disabled': !this.signInForm.valid }"
        [disabled]="!signInForm.get('username')?.valid"
      />
    </div>
  </form>
</div>

<div id="signUp" class="auth-form form-SignUp hidden">
  <form action="" class="form-content">
    <h2 class="underline">One Of Us</h2>

    <div class="form-box">
      <input
        id="signUp-email"
        type="email"
        class="form-input"
        placeholder="Email ID"
        autocomplete="off"
      />
      <label for="" class="form-label">Email ID</label>
      <div class="form-shadow"></div>
    </div>
    <div class="form-box">
      <input
        id="signUp-username"
        type="text"
        class="form-input"
        placeholder="User ID"
        autocomplete="off"
      />
      <label for="" class="form-label">User ID</label>
      <div class="form-shadow"></div>
    </div>
    <div class="form-box">
      <input
        id="signUp-password"
        type="password"
        class="form-input"
        placeholder="Secret"
        autocomplete="off"
      />
      <label for="" class="form-label">Secret</label>
      <div class="form-shadow"></div>
    </div>
    <div class="link">
      <a (click)="goAheadSignin($event)">Go Ahead Sign In</a>
    </div>
    <div class="form-button">
      <input type="Submit" class="form-submit" value="Sign Up" />
    </div>
  </form>
</div>
