/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  /* Color mode HSL & RGB */
  --first-color: hsl(79, 100%, 49%);
  --white-color: rgb(255, 255, 255);
  --black-color: #000;

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --normal-font-size: 0.938rem;
  --tiny-font-size: 0.563rem;
}

/*=============== MODERN INPUT ===============*/

#signIn,
#signUp {
  margin-top: 270px;
}

.auth-form {
  background-color: var(--white-color);
  padding: 20px 20px;
  box-shadow: 0 4px 8px 0 rgba(171, 171, 171, 0.651),
    0 6px 20px 0 rgba(188, 188, 188, 0.064);
}

.hidden {
  display: none;
}

.block {
  display: block;
}

.form-content {
  display: grid;
  row-gap: 1.5rem;
}

.form-input,
.form-label,
.form-submit {
  border: 0;
  outline: none;
  font-size: var(--normal-font-size);
  font-family: var(--body-font);
}

.form-box {
  width: 312px;
  height: 59px;
  position: relative;
}

.form-shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--black-color);
}

.form-input {
  position: absolute;
  border: 2.5px solid var(--black-color);
  background-color: var(--white-color);
  width: 100%;
  height: 100%;
  z-index: 10;
  padding: 18px;
  transition: transform 0.3s;
}

.form-input::placeholder {
  transition: opacity 0.5s;
  padding: 1rem;
}

.form-label {
  z-index: 100;
  position: absolute;
  top: 16px;
  left: 20px;
  font-size: var(--tiny-font-size);
  font-weight: 600;
  transition: 0.2s;
  pointer-events: none;
  opacity: 0;
}

.form-button {
  justify-self: flex-end;
  background-color: var(--black-color);
}

.form-submit {
  padding: 0.875rem 1.5rem;
  color: var(--black-color);
  background-color: var(--first-color);
  cursor: pointer;
  transition: transform 0.3s;
}

.form-submit:hover {
  transform: translate(-6px, -6px);
}

/* Opaque placeholder */
.form-input:focus::placeholder {
  opacity: 0;
  transition: 0.3s;
}

/* Move input and sticky input up */
.form-input:focus,
.form-input:not(:placeholder-shown).form-input:not(:focus) {
  transform: translate(-8px, -8px);
  padding: 28px 18px 18px;
  animation: input-animation 0.5s;
}

/* Move label and sticky label up */
.form-input:focus + .form-label,
.form-input:not(:placeholder-shown).form-input:not(:focus) + .form-label {
  opacity: 1;
  top: 2px;
  left: 12px;
  transition: 0.3s;
}

/* Input bounce animation */
@keyframes input-animation {
  0% {
    transform: translate(0);
  }

  40% {
    transform: translate(-9px, -9px);
  }

  60% {
    transform: translate(-7px, -7px);
  }
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 340px) {
  .form-content,
  .form-box {
    width: 100%;
  }
}

/* For large devices */
@media screen and (min-width: 968px) {
  .form-content {
    zoom: 1.1;
  }
}
.is-invalid {
  border: 2px solid red;
}
.error {
  color: red;
  font-size: small;
}
.is-disabled,
.form-button {
  color: grey;
}
.link > a {
  margin-top: 2.25em;
  width: fit-content;
  height: fit-content;
  position: absolute;
  margin-left: 15px;
  font-size: var(--normal-font-size);
  outline: none;
  text-decoration: none;
  cursor: pointer;
}
.link :hover {
  color: blue;
}
.underline::before {
  content: "";
  position: absolute;
  height: 3px;
  width: 45px;
  background-color: blue;
}
/* .underline {
  filter: drop-shadow(0 0 0.75rem rgba(12, 11, 11, 0.778));
} */
