.editor {
  padding: 1rem;
  position: relative;
  font-family: Arial;
  width: 870px;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  left: 12%;
  -webkit-font-smoothing: antialiased;
}
.community-dropdown {
  margin: 10px 0;
  position: relative;
}

.select-items {
  position: relative;
  padding: 1rem;
  font-weight: 700;
  font-size: 0.9rem;
  width: 200px;
}

.header-create-post {
  position: relative;
}
.header-create-post > * {
  margin: 1rem 0;
}
hr {
  margin: 10px 0;
}
.form-box {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 1rem;
  border-radius: 7px;
  height: 100%;
  max-height: 100%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}
.post-title-control > input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  outline: none;
}
.post-title-control > input:focus {
  border: 1px dashed blueviolet;
  padding: 13px;
}
.submit-post {
  position: relative;
  margin-top: 50px;
}
.submit-post > * {
  float: right;
  margin: 10px 0 0 10px;
  padding: 3px;
}

/*  animation */
is-formValid {
  filter: grayscale(1);
  cursor: not-allowed;
}

.is-invalid {
  color: rgb(200, 67, 67);
  display: block;
}

.is-disabled {
  animation: shake 300ms;
}

@keyframes shake {
  25% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
}
