<title>Create a new post</title>
<div class="editor">
  <div class="header-create-post">
    <h3>Create a Post</h3>
  </div>
  <hr />
  <form id="editor" novalidate [formGroup]="createPostGp">
    <div class="community-dropdown">
      <span
        hidden
        style="margin: 5px 0"
        [ngClass]="{
          'is-invalid':
            (createPostGp.get('subredditName')?.touched ||
              createPostGp.get('subredditName')?.dirty) &&
            !createPostGp.get('subredditName')?.valid
        }"
      >
        Community is required
      </span>

      <select class="select-items" formControlName="subredditName">
        <option
          value="{{ subreddit.subredditName }}"
          *ngFor="let subreddit of communityList$"
        >
          {{ subreddit.subredditName }}
        </option>
      </select>
    </div>
    <div class="form-box">
      <div class="post-title-control">
        <span
          hidden
          [ngClass]="{
            'is-invalid':
              (createPostGp.get('postName')?.touched ||
                createPostGp.get('postName')?.dirty) &&
              !createPostGp.get('postName')?.valid
          }"
          >Title is required</span
        >
        <input type="text" placeholder="Title" formControlName="postName" />
      </div>
      <span
        style="margin: 5px 0"
        hidden
        [ngClass]="{
          'is-invalid':
            (createPostGp.get('postDescription')?.touched ||
              createPostGp.get('postDescription')?.dirty) &&
            !createPostGp.get('postDescription')?.valid
        }"
        >Post description is required</span
      >
      <quill-editor
        formControlName="postDescription"
        [style]="{ height: '240px' }"
        [modules]="config"
        (onContentChanged)="onContentChanged($event)"
        [required]="true"
        placeholder="Text"
      ></quill-editor>
      <div class="submit-post">
        <app-button
          [btnLabel]="btnlabelPost"
          (btnFuncClick)="createPost($event)"
          [customDisable]="!this.createPostGp.valid"
        ></app-button>
        <app-button
          [btnLabel]="btnlabelDiscard"
          (btnFuncClick)="goBackToFeed()"
        ></app-button>
      </div>
    </div>
  </form>
</div>

<!-- <input type="submit" value="Post" [disabled]="!createPostGp.valid" /> -->
<!-- <input type="reset" value="Cancel" (click)="goBackToFeed()" /> -->
