<div class="middle-container" *ngFor="let singlePost of post">
  <div class="post-container">
    <app-vote [postToVoteView]="singlePost"></app-vote>
    <div class="post-msg-view">
      <div class="post-user-details">
        <div class="user-profile">
          <img
            src="https://images.pexels.com/users/avatars/2587816/riccardo-bertolo-116.jpeg?auto=compress&fit=crop&h=130&w=130&dpr=2"
          />
        </div>
        <div class="post-user-info">
          <span class="post-subreddit-name">
            <a routerLink="{{ singlePost.subredditName }}">{{
              singlePost.subredditName
            }}</a>
          </span>
          <span class="dot">.</span>
          <span class="post-created-by"
            >Posted by u/
            <a routerLink="{{ singlePost.userName }}">{{
              singlePost.userName
            }}</a>
          </span>
          <span class="dot">.</span>
          <span class="post-duration">{{ singlePost.duration }}</span>
        </div>
      </div>
      <div class="post-title">
        <h4 *ngIf="singlePost.postName">
          {{ singlePost.postName }}
        </h4>
        <p
          class="post-desc"
          *ngIf="singlePost.postDescription"
          [innerHTML]="singlePost.postDescription"
        ></p>
        <!-- <p routerLink="singlePost.url" [innerHTML]="singlePost.url"></p> -->
      </div>
      <div class="comment-view">
        <button>
          <fa-icon [icon]="faMessage"> </fa-icon>
          Comment ({{ singlePost.commentCount }})
        </button>
      </div>
    </div>
  </div>
</div>
