<div class="middle-container" *ngFor="let singlePost of post">
  <div class="post-container">
    <app-vote [postToVoteView]="singlePost"></app-vote>
    <div class="post-msg-view">
      <div class="post-user-details">
        <div class="user-profile">
          <img
            src="https://images.pexels.com/users/avatars/2587816/riccardo-bertolo-116.jpeg?auto=compress&fit=crop&h=130&w=130&dpr=2"
          />
        </div>
        <div class="post-user-info post-subreddit-name">
          <span>
            <a (click)="goToCommunityViewPage(singlePost)">{{
              singlePost.subredditName
            }}</a>
          </span>
          <span class="dot">.</span>
          <span class="post-created-by">
            Posted by
            <a class="post-created-by" routerLink="{{ singlePost.userName }}">{{
              "u/" + singlePost.userName
            }}</a>
          </span>
          <span class="dot">.</span>
          <span class="post-duration">{{ singlePost.duration }}</span>
        </div>
      </div>
      <div class="post-title">
        <div *ngIf="singlePost.postName">
          {{ singlePost.postName }}
        </div>
        <div
          class="post-desc ql-editor"
          *ngIf="singlePost.postDescription"
          [innerHtml]="singlePost.postDescription"
        ></div>
        <p
          routerLink="singlePost.url"
          *ngIf="singlePost.url"
          [innerHTML]="singlePost.url"
        ></p>
      </div>
      <hr />
      <div class="comment-view">
        <button (click)="commentPage(singlePost)">
          <fa-icon [icon]="faMessage"></fa-icon>
          {{ singlePost.commentCount }} Comments
        </button>
      </div>
    </div>
  </div>
</div>
