.middle-container {
  background-color: #fff;
}
.middle-container:nth-last-child(n) {
  margin-bottom: 0.4rem;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}
.middle-container:hover {
  border: 0.5px solid black;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}
.post-desc {
  padding: 0 2px;
}
.post-container {
  display: flex;
}

.post-msg-view {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.post-msg-view > .post-user-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 5px;
  flex-basis: 10%;
  color: #636363;
}
.post-user-info > .dot {
  color: black;
  font-size: 25px;
  margin: 0 5px;
  line-height: 2px;
  vertical-align: auto;
}
.post-user-info > span > a {
  text-decoration: none;
  color: rgb(127, 123, 123);
  cursor: pointer;
}
.post-user-info > span > a:hover {
  color: rgba(26, 48, 213, 0.918);
  font-weight: bolder;
}
.post-subreddit-name {
  font-size: 11px;
}
.post-created-by {
  margin-trim: none;
  color: black;
}
.post-title {
  flex-basis: 10%;
  margin: 3px 5px;
  text-align: justify;
  max-width: 100%;
}

.comment-view {
  flex-basis: 6%;
  margin: 5px 5px;
}

.comment-view > button {
  padding: 5px 5px;
  outline: none;
  cursor: pointer;
  border: none;
  background-color: inherit;
  color: #636363;
  font-weight: 800;
}
.comment-view:hover {
  opacity: 0.4;
}
.comment-view fa-icon {
  margin: 0 3px 0 0;
}
.user-profile > img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-top: 2px;
}
@media screen and (max-width: 977px) {
  * {
    zoom: 0;
  }
  .post-user-info {
    font-size: inherit;
  }
  .left-container,
  .right-container {
    display: none;
  }
  .feed {
    flex: 100%;
    height: 100vh;
    margin: 8% 1% 50px 1%;
  }
}

@media (max-width: 390px) or (max-width: 375px) or (max-width: 393px) or (max-width: 414px) {
  .post-user-info {
    font-size: 0.7rem;
  }
  .left-container,
  .right-container {
    display: none;
  }
  .left-container {
    padding: 10px;
  }
  .feed {
    height: 100vh;
    margin: 17% 1% 50px 1%;
  }
}
