<head>
  <title>Create a community</title>
  <meta charset="utf-8" />
</head>
<form [formGroup]="createCommunityGp" novalidate>
  <div class="community-modal">
    <div class="community-inner">
      <div class="community-header">
        <div class="modal-title">Create a community</div>
        <fa-icon (click)="goBackToFeed($event)" [icon]="close"></fa-icon>
      </div>
      <div class="community-name-info">
        <h3>Name</h3>
        <p class="guidelines">
          Community names including capitalization cannot be changed.
        </p>
      </div>
      <div class="subreddit-name-input">
        <span class="reddit-placeholder">r/</span>
        <input
          type="text"
          [maxlength]="21"
          formControlName="subredditName"
          autofocus
        />
        <div
          class="max-length"
          [ngClass]="{
            'is-invalid': community.dirty && !community.valid
          }"
        >
          {{
            err < 10
              ? err + " Character remaining"
              : err + " Characters remaining"
          }}
        </div>
      </div>
      <div class="footer-button">
        <app-button
          [btnLabel]="btnCreateCommunityLbl"
          [customDisable]="!this.createCommunityGp.valid"
          (btnFuncClick)="createCommunity($event)"
        ></app-button>
        <app-button
          [btnLabel]="btnDiscardLbl"
          (btnFuncClick)="goBackToFeed($event)"
        ></app-button>
      </div>
    </div>
  </div>
</form>
