<div class="feed-container">
  <div class="left-container links">
    <div class="imp-links">
      <a routerLink="posts" class="active">Posts</a>
      <a routerLink="watch">Watch</a>
      <a routerLink="communities">Communities</a>
      <a routerLink="show-more">See More</a>
    </div>
  </div>
  <div class="middle-container feed">
    <div class="post-container">
      <div class="vote-container vertical-left">
        <button>Upvote</button>
        <div class="vote-count">123</div>
        <button>downvote</button>
      </div>
      <div class="post-msg-view">
        <div class="post-user-details">user</div>
        <div class="post-title">post title</div>
        <div class="post-desc">post message</div>
        <div class="comment-view">comment</div>
      </div>
    </div>
  </div>
  <div class="right-container community">community</div>
</div>
