<div class="sidebar-subreddit-home-screen">
  <div class="create-post-community">
    <div class="banner-home-create-community">
      <div class="banner-home-img"></div>
      <div class="home">
        <div class="alien-home-img"></div>
        <span>Home</span>
      </div>
    </div>
    <div class="description">
      <div class="create-post-community-home-title">
        Your personal Reddit frontpage. Come here to check in with your favorite
        communities.
      </div>
    </div>
    <div class="create-post">
      <button
        role="button"
        tabindex="0"
        routerLink="/new-post"
        id="create-post-button"
      >
        Create Post
      </button>
      <button role="button" tabindex="0" id="create-community-button">
        Create Community
      </button>
    </div>
  </div>

  <div class="bottom-footer-side">
    <div class="company-name">Reddit Inc © 2022. All rights reserved</div>
  </div>
</div>
