<div class="sidebar-subreddit-home-screen">
  <div class="create-post-community">
    <div class="banner-home-create-community">
      <div class="banner-home-img"></div>
      <div class="home">
        <div class="alien-home-img"></div>
        <span>Home</span>
      </div>
    </div>
    <div class="description">
      <div class="create-post-community-home-title">
        Your personal Reddit frontpage. Come here to check in with your favorite
        communities.
      </div>
    </div>
  </div>
</div>
