.sidebar-subreddit-home-screen {
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
  background-color: white;
  width: 470px;
}
.subreddit-list{
  height: 230px;
  overflow: auto;  
}
.top-community{
  display: flex;
  justify-content: center;
  font-family: Courier, monospace;
  margin: 1rem 0;
  font-size: larger;
  
}
ul li{
padding: 1rem;
border-bottom:.5px solid lightgrey;
list-style: none;
}
.subreddit-link{
  text-decoration: none;
  color: black;
}

.subreddit-link:hover{
  font-weight: bold;
  color: rgb(228, 21, 21);
}
